.heading{
     text-align: center;
}
.heading h2{
     font-size: var(--h2-fone);
     font-weight: 500;
     margin: 7px 0 20px;
     line-height: 1.1;
}
.heading h3{
     font-size: 20px;
     font-weight: 500;
     color: var(--main-color);
}
.heading p{
     font-size: var(--p-font);
     color: var(--sec-color);
     line-height: 28px;
}
.portfolio-content{
     display: grid;
     grid-template-columns: repeat( 3,  auto);
     grid-gap: 2rem;
     align-items: center;
     margin-top: 5rem;
     text-align: center;
     cursor: pointer;
}.col{
     position: relative;
}
.col img{
     max-width: 100%;
     width: 550px;
     height: auto;
     object-fit: cover;
     border-radius: 12px;
}
.layer{
     background: transparent;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 12px;
     transition: all 0.40s;
}
.layer:hover{
     background:  linear-gradient(rgba( 0,0,0,0.5) 0%, #191919);
}
.layer h3{
     position: relative;
     width: 100%;
     font-size: 25px;
     font-weight: 500;
     color: var(--bg-color);
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;
     transition: all .40s;
}
.layer:hover h3{
     bottom: -50%;
     opacity: 1;
}
.layer h5{
     position: relative;
     width: 100%;
     font-size: 15px;
     font-weight: 500;
     color: var(--bg-color);
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;
     transition: all .40s ease;
}
.layer:hover h5{
     bottom: -48%;
     opacity: 1;
}
@media (max-width: 800px){
     .portfolio-content{
          grid-template-columns: repeat(1,100%);
     }
	 
}
 