.title-text {
     text-align: center;
     color: #f75023;
     font-weight: 500;
     font-size: 3rem;
     border-radius: 50px;
     margin-top: 15px;
     margin-bottom: 30px;
 }
 
 .container .skill-box {
     width: 100%;
     margin: 25px 0;
 }
 
.big{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     gap: 10px;
}
.box{
     /* width: 250px; */
     border: 2px solid gray;
     padding: 10px 19px;
     border-radius: 10px;
     position: relative;
      
}
 
.box img{
     width: 220px;
     height: 200px;
     padding: 10px;
}
@media screen and (max-width:920px) {
     .big{
          grid-template-columns: repeat(3,1fr);
          
     }
}
@media screen and (max-width:820px) {
     .big{
          grid-template-columns: repeat(3,1fr);
          
     }
}
@media screen and (max-width:776px) {
     .big{
          grid-template-columns: repeat(2,1fr);
          
     }
}
@media screen and (max-width:456px) {
     .big{
          grid-template-columns: repeat(1,1fr);
          
     }
}
 

  