/*home*/
section{
     padding: 100px 10%;
}
.home{
     min-height:40vh;
     height: 100%;
     width: 100%;
     position:relative; 
     /* border: 2px solid green; */
     display:  flex;
     justify-content: space-between;
     gap: 50px;

}
.home-t{
     /* border: 2px solid orangered; */
     width: 600px;
     padding: 10px;
}
.home-t h1{
     font-size: var(--bg--font);
     margin: 10px 0 25px;
     line-height: 1;
     font-weight: 500;
}
.home-t h5{
     margin-bottom: 25px;
     font-size: 19px;
}
.home-t h3{
     color: #f75023;
     font-size: 19px;
     font-weight: 500;
}
.home-t p{
     color: var(--sec-color);
     font-size: var(--p-font);
     line-height: 28px;
     margin-bottom: 20px;
}
.social a{
     width: 35px;
     height: 35px;
     border-radius: 50%;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     background: rgba(128,103,240,1 );
     font-size: 17px;
     color: var(--bg-color);
     margin-right: 22px;
     margin-bottom: 20px;
}
.social a:hover{
     background: #f75023;
     transform: scale(1.1);
     transition: .5s all ease;
}
.btn-d{
     display: inline-block;
     color: var(--text-color);
     background: var(--main-color);
     font-size: var(--p-font);
     padding: 9px 20px;
     border-radius: 30px;
     transition: all .40s;
}
.btn-d:hover{
     transform: scale(1.1);
     color: var(--bg-color);
}
.home-img{
     max-width: 100%;
     width: 550px;
     height: auto;
}
.home-img img{
     border-radius: 20px;
}

 /*  */
 
/*media*/
@media (max-width: 1425px){
	 
	section{
		padding: 70px 3%;
		transition: .3s;
	}
	 
	:root{
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .3s;
	}
}
 
/*800 media*/
@media (max-width: 800px){
	.home{
		flex-direction: column;
          justify-content: center;
          align-items: center;
		min-height: 130vh;
          gap: 10px;
	}
	.home-t{
		padding-top: 30px;
          margin-left: 40px;
          width: 400px;
	}
	.home-img{
		text-align: center;
	}
	.home-img img{
		width: 440px;
		height: auto;
	}
	:root{
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}
	section{
		padding: 65px 3%;
		transition: .3s;
	}
}
 